<!-- navbar.html -->
<nav>
    <ul class="navbar">
        <li><a class="logout-link" href="{{ url_for('index') }}">Home</a></li>

        {% if 'username' in session %}
            <li><a href="{{ url_for('todo_list') }}" class="logout-link">To-Do List</a></li>
            <li><a href="{{ url_for('logout') }}" class="logout-link">Logout</a></li>
        {% else %}
            <li><a class="logout-link" href="{{ url_for('login') }}">Login</a></li>
            <li><a class="logout-link" href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
</nav>

<style>
    
</style>
